.first-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #1F2937;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 8px;
    margin-top: -8px;
    margin-left: -10px;
    margin-right: -10px;
}

.header {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
    color: #eee;
}

#logo {
    width: fit-content;
    flex: 1 1 auto;
    margin-right: auto;
    font-size: 24px;
}

ul {
    display: flex;
    gap: 42px;
    list-style-type: none;
}

li {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

img {
    flex: 1 1 0;
    max-width: 550px;
}

/* begin the actual element */

.element {
    display: flex;
    align-items: stretch;
    width: 100%;
    margin-bottom: 100px;
    gap: 0px;
    justify-content: center;
}

.element h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    flex: 1;
    margin-right: 200px;
}

.element p {
    font-size: 18px;
    color: rgba(238, 238, 238, 0.815);
    flex: 1;
    margin-right: 150px;
}

button {
    padding: 12px 28px;
    font-size: 18px;
    background-color: #3882F6;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 12px;
    border: none;
    width: fit-content;
    flex: 1;
    max-width: 256px;
    max-height: 48px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 16px;
    flex: 1;
}